.gameBoardItem {
    -fx-background-color: none;
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-min-width: 40;
    -fx-min-height: 40;

    -fx-pref-width: 40;
    -fx-pref-height: 40;

    -fx-max-width: 50;
    -fx-max-height: 50;
}

.ammoCard {
    -fx-background-image: url("../assets/ammo/AD_ammo_04.png");
    -fx-image: url("../assets/ammo/AD_ammo_04.png");

    -fx-pref-width: 35;
    -fx-pref-height: 35;
}

.playerAvatar {
    -fx-pref-width: 60;
    -fx-pref-height: 60;
}

.selectableBoardSquare {

}

.selectableBoardSquare:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.selectableAvatar {
    -fx-border-radius: 25%;
    -fx-effect: dropshadow(three-pass-box, rgb(180, 88, 255), 10, 0, 0, 0);
}

.selectableAvatar:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

