#rootGridPane {
    -fx-background-image: url("../assets/adrenaline/background_table_1.JPG");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


/*DON'T CHANGE THIS! */
#mainBoardPane {
    -fx-background-image: url("../assets/maps/Map_BW.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.map_ONE {
    -fx-background-image: url("../assets/maps/Map_ONE.png");
}

.map_TWO {
    -fx-background-image: url("../assets/maps/Map_TWO.png");
}

.map_THREE {
    -fx-background-image: url("../assets/maps/Map_THREE.png");
}

.map_FOUR {
    -fx-background-image: url("../assets/maps/Map_FOUR.png");
}


#mapVoteAnchorPane {
    -fx-background-color: rgb(50, 50, 50);

    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #bf4e1c 0%, #eda386 50%, #bb3e7f 75%, #93ceed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-insets: -1;

}

#mapPreviewImageView {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #bf4e1c 0%, #eda386 50%, #bb3e7f 75%, #93ceed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-insets: -1;
}

#overlay {
    -fx-background-color: rgba(37, 37, 37, 0.6);
}

.mapVoteBackground {
    -fx-background-color: rgba(57, 57, 57, 0.8);
}

.weaponCard {
    -fx-background-image: url("../assets/cards/AD_weapons_IT_02.png");
    -fx-background-color: none;
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-fill: none;

    -fx-min-width: 97;
    -fx-min-height: 170;
}

.powerUpCard {
    -fx-background-image: url("../assets/cards/AD_powerups_IT_02.png");
    -fx-background-color: none;
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-fill: none;

    -fx-min-width: 97;
    -fx-min-height: 170;
}

.myWeaponCard {
    -fx-min-width: 110;
    -fx-min-height: 200;
}

.myPowerUp {
    -fx-min-width: 90;
    -fx-min-height: 190;
}

.blueWeaponCard {
    -fx-background-image: url("../assets/cards/rotated/AD_weapons_IT_02.png");

    -fx-min-width: 170;
    -fx-min-height: 97;
}

.yellowWeaponCard {

}

.redWeaponCard {

}

.skullCircle {
    -fx-fill: red;
}

.playerInfoTextArea {

}

.cardSlots {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}