#rootGridPane {
    -fx-background-image: url("../assets/adrenaline/background_table_1.JPG");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


/*DON'T CHANGE THIS! */
#mainBoardPane {
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

}

.map_NONE {
    -fx-background-image: url("../assets/maps/Map_BW.png");
}

.map_ONE {
    -fx-background-image: url("../assets/maps/Map_ONE.png");
}

.map_TWO {
    -fx-background-image: url("../assets/maps/Map_TWO.png");
}

.map_THREE {
    -fx-background-image: url("../assets/maps/Map_THREE.png");
}

.map_FOUR {
    -fx-background-image: url("../assets/maps/Map_FOUR.png");
}


#mapVoteAnchorPane {
    -fx-background-color: rgb(50, 50, 50);

    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #bf4e1c 0%, #eda386 50%, #bb3e7f 75%, #93ceed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-insets: -1;

}

#mapPreviewImageView {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to right, #bf4e1c 0%, #eda386 50%, #bb3e7f 75%, #93ceed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-insets: -1;
}

#overlay {
    -fx-background-color: rgba(37, 37, 37, 0.6);
}

.mapVoteBackground {
    -fx-background-color: rgba(57, 57, 57, 0.8);
}

.weaponCard {
    -fx-background-image: url("../assets/cards/AD_weapons_IT_02.png");
    -fx-background-color: none;
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-fill: none;

    -fx-min-width: 70;
    -fx-pref-width: 97;
    -fx-pref-height: 170;
}

.card:disabled {
    -fx-opacity: 1.0;
}

.powerUpCard {
    -fx-background-image: url("../assets/cards/AD_powerups_IT_02.png");
    -fx-background-color: none;
    -fx-background-insets: 0, 0;
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-fill: none;

    /*-fx-pref-width: 97;*/
    /*-fx-pref-height: 170;*/
    -fx-min-width: 60;
    -fx-pref-width: 90;
    -fx-pref-height: 141;
}

.myWeaponCard {
    -fx-min-width: 73;
    -fx-pref-width: 110;
    -fx-pref-height: 187;
}

.myPowerUp {

}

.rotatedWeaponCard {
    -fx-background-image: url("../assets/cards/rotated/AD_weapons_IT_02.png");

    -fx-min-width: 170;
    -fx-min-height: 97;
}

.onMapWeaponCard {
    -fx-min-width: 97;
    -fx-min-height: 170;
}

.skullCircle {
    -fx-fill: red;
}

.playerInfoTextArea {

}

.cardSlots {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.arrowButton {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-max-height: 50;
    -fx-max-width: 50;
    -fx-background-size: 40 40;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.arrowButtonContainer {
    -fx-max-height: 50;
    -fx-max-width: 50;
    -fx-row-valignment: center;
    -fx-column-halignment: center;
}

.button:hover {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to top, #bf4e1c 0%, #eda386 50%, #bb3e7f 75%, #93ceed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-border-insets: -1;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-alignment: bottom;
    -fx-text-alignment: bottom;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}
