.playerBoard {
    -fx-pref-width: 610;
    -fx-pref-height: 155;
}

.playerBoard_NONE {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_BW.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.playerBoard_PURPLE {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_PURPLE.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.playerBoard_YELLOW {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_YELLOW.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.playerBoard_GREEN {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_GREEN.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.playerBoard_GREY {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_GREY.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.playerBoard_BLUE {
    -fx-background-image: url("../assets/playerboards/PlayerBoard_BLUE.png");
    -fx-background-insets: 0, 0;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.damageMark {

}

#overlay {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.detailsGridPane {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.detailsTextScrollPane,
.detailsTextScrollPane > .viewport,
.detailsTextScrollPane * {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
}

.effectLabel {
    -fx-text-fill: white;
}

.effectLabel:disabled {
    -fx-opacity: 1.0
}

.selectableEffectLabel:hover {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to top, #ffe1da 0%, #edd6c8 50%, #ffdcf6 75%, #b6d1ed 100%);
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border-insets: -1;
}